@model PracticalAssignmentSourceControl.ImageDetail
@using NLog
@{
    try
    {
        ViewBag.Title = "Dasboard";
        if (Session["EmailId"] != null)
        {
            PracticalDatabaseEntities _context = new PracticalDatabaseEntities();
            string EmailId = Session["EmailId"].ToString();
            var userObject = _context.SignupDetails.Where(p => p.EmailId.Equals(EmailId));

            foreach (SignupDetail tempObject in userObject)
            {
                ViewBag.Name = tempObject.FirstName + " " + tempObject.LastName;
                ViewBag.EmailId = tempObject.EmailId;
                ViewBag.Age = tempObject.Age;
                ViewBag.HireDate = tempObject.HiringDate.ToShortDateString();
                ViewBag.Phone = tempObject.Phone;
                var imageObject = _context.ImageDetails.Where(i => i.ImageId.Equals(tempObject.ImageId));
                foreach (ImageDetail tempImageObject in imageObject)
                {
                    ViewBag.Image = tempImageObject.Path;
                }
            }
        }
    }
    catch(Exception e)
    {
        Logger logger = LogManager.GetLogger("PracticalAssignmentLoggerRule");
        logger.Error("Exception Occured. " + e.Message);
    }
}

<h2>Welcome to your Dasboard</h2>
<br />
<h4>About Me</h4>
<br />
<p><img src="@Url.Content(ViewBag.Image)" width="300" height="300" style="border :2px solid; border-radius :10px; padding: 15px;"/></p>
<br />
<p>Name : @ViewBag.Name</p>
<p>Age : @ViewBag.Age</p>
<p>Working at XYZ companies ltd from : @ViewBag.HireDate</p>
<p>Contact Me by Email at : <a href="mailto:@ViewBag.EmailId"> @ViewBag.Emailid</a> or Ring me up at : @ViewBag.Phone</p>

@using (Html.BeginForm("Logout", "Dashboard"))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log Out" class="btn btn-default" />
            </div>
        </div>
    </div>
}

